 /* Define the keyframes for the fade-left animation */
 @keyframes fade-left {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Initially, elements with a-fade-left will not have the animation */
  [a-fade-left] {
    opacity: 0;
    transform: translateX(-30px);
  }

  /* Add the fade-left animation */
  [a-fade-left].animate {
    animation: fade-left 1s ease-in forwards;
  }