.c-navbar_dd-grid {
    position: relative; /* Ensure children are positioned relative to the parent */
}

.c-navbar_dd-grid > * {
    opacity: 0;
    transform: translateX(-30px);
    animation-fill-mode: forwards;
}

.c-navbar_dd-toggle:hover ~ .c-navbar_dd-grid > * {
    animation: fadeInLeft 0.5s ease-out forwards;
}

@keyframes fadeInLeft {
    to {
        animation-delay: 0.3s;
        opacity: 1;
        transform: translateX(0);
    }
}

/* Stagger the animation for each child element */
.c-navbar_dd-toggle:hover ~ .c-navbar_dd-grid > *:nth-child(1) {
    animation-delay: 0.3s;
}
.c-navbar_dd-toggle:hover ~ .c-navbar_dd-grid > *:nth-child(2) {
    animation-delay: 0.6s;
}
.c-navbar_dd-toggle:hover ~ .c-navbar_dd-grid > *:nth-child(3) {
    animation-delay: 0.9s;
}
.c-navbar_dd-toggle:hover ~ .c-navbar_dd-grid > *:nth-child(4) {
    animation-delay: 0.9s;
}
.c-navbar_dd-toggle:hover ~ .c-navbar_dd-grid > *:nth-child(5) {
    animation-delay: 0.12s;
}
.c-navbar_dd-toggle:hover ~ .c-navbar_dd-grid > *:nth-child(6) {
    animation-delay: 0.15s;
}
.c-navbar_dd-toggle:hover ~ .c-navbar_dd-grid > *:nth-child(7) {
    animation-delay: 0.18s;
}
.c-navbar_dd-toggle:hover ~ .c-navbar_dd-grid > *:nth-child(8) {
    animation-delay: 0.21s;
}
.c-navbar_dd-toggle:hover ~ .c-navbar_dd-grid > *:nth-child(9) {
    animation-delay: 0.24s;
}
.c-navbar_dd-toggle:hover ~ .c-navbar_dd-grid > *:nth-child(10) {
    animation-delay: 0.27s;
}

/* Add more :nth-child selectors if there are more children */